<div>
    {{#if Proj}}
    <h3>{{Proj.projectName}}</h3>
    <p>{{Proj.desc}}</p>
    <img src="../image/{{Proj.projectName}}/{{Proj.imagePath}}" alt="image {{Proj.projectName}}">
    
    

    <h2>Gallerie</h2>
    {{#each images}}
        <img src="../image/{{Proj.projectName}}/{{this}}" alt="{{this}}">
    {{/each}}
    <h2>compétences utilisées:</h2>
    <p>{{#each Skills}}{{skillName}}{{#unless @last}}, {{/unless}}{{/each}}</p>
    {{/if}}
</div>